@import '../../variables';

.header {
  background: $color-green;
  padding: 20px 0;

  &__title {
    color: white;
  }

  &__content {
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-columns: 1fr;

    @media (min-width: 786px) {
      grid-template-columns: auto auto auto 1fr;
    }
  }

  &__link {
    text-decoration: none;
  }
  
  &__search {
    padding: 10px 40px 10px 10px;
    border: none;
    width: 100%;
  }

  &__form {
    position: relative;
    &::before{
      content: '🔎';
      position: absolute;
      top: 25%;
      transform: translateY(-50%);
      right: 10px;
      width: 20px;
      height: 20px;
      transform: rotate(280deg);
    }
  }

  &__back {
    display: flex;
    justify-self: flex-start;
    gap: 5px;
    align-items: center;
    padding: 5px 8px;
    border-radius: 5px;
    background: white;
    border: solid 2px white;
    font-size: 16px;
    cursor: pointer;

    transition: background 0.3s, color 0.3s;
    &:hover {
      background: transparent;
      color: white;
    }
  }

  &__nav {
    justify-self: flex-start;

    @media (min-width: 786px) {
      justify-self: flex-end;
      grid-column: 4 / 5;
    }
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;

    &:hover {
    text-decoration: underline;
    }
  }
}
